<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Formulaire</title>

	</head>


	<body>


		   <div id="site-content">

							<small class="site-description">Formulaire</small>

				</div>

			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
									<form action="/formulaire" class="contact-form" method="POST">
										<input type="text" placeholder="modele" name="modele">
										<input type="text" placeholder="marque" name="marque">
										<input type="text" placeholder="ville" name="ville">
										<input type="text" placeholder="places" name="places">
										<input type="submit" value="ok">
									</form>
								</div>

							</div>
			</main>

		</div>

	</body>

</html>
